{% extends 'layout.html.twig' %}
{% block body %}
         <div class="row">
            <div class="col-lg-12">
                <h1> Employe Detail</h1>
                <div class="panel panel-default">
                  <div class="panel-body">
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label class="control-label" for="nameinp">Name</label>
                              
                              <input class="form-control" type="text" id="nameinp" value="{{employeeReturn.name}}" readonly>
                            </div>
                            <div class="form-group">
                              <label class="control-label" for="emailinp">Email</label>
                              <input class="form-control" type="text" id="emailinp" value="{{employeeReturn.email}}" readonly>
                            </div>
                            <div class="form-group">
                              <label class="control-label" for="phoneinp">Phone</label>
                              <input class="form-control" type="text" id="phoneinp" value="{{employeeReturn.phone}}" readonly>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label class="control-label" for="addressinp">Address</label>
                              <input class="form-control" type="text" id="addressinp" value="{{employeeReturn.address}}" readonly>
                            </div>
                          
                            <div class="form-group">
                              <label class="control-label" for="positioninp">Position</label>
                              <input class="form-control" type="text" id="positioninp" value="{{employeeReturn.position}}" readonly>
                            </div>
                            <div class="form-group">
                              <label class="control-label" for="salaryinp">Salary</label>
                              <input class="form-control" type="text" id="salaryinp" value="{{employeeReturn.salary}}" readonly>
                            </div>
                        </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Skills</strong></h3>
                  </div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-condensed">
                        <thead>
                              <tr>
                                
                                <td><strong>Name</strong></td>
       
                              </tr>
                        </thead>
                        <tbody>
                          <!-- foreach ($order->lineItems as $line) or some such thing here -->
                            {% for skill in employeeReturn.skills %}
                                <tr>

                                <td>{{skill.skill}}</td>
                               
                                </tr>
                            {% endfor %}
                                        
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
          </div>
{% endblock %}
