{% extends 'layout.html.twig' %}
{% block body %}

    <div class="row">
            <div class="col-lg-12">
                <h1>Employees   List</h1>
                <div class="panel panel-default">
                  <div class="panel-body">
                         <div class="input-group">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Searh</button>
                          </span>
                          <input type="text" class="form-control" id="searchInput" placeholder="user@fanfare.com" onkeyup="myFunction()" >
                        </div><!-- /input-group -->
                  </div>
                </div>
            </div>
            <div class="col-lg-12">
                <table class="table" id="table_employees">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Position</th>
                      <th>Salary</th>
                      <th>Detail</th>
                    </tr>
                  </thead>
                  <tbody>

                     {% for empleado in listEmployees %}
                        <tr>

                        <td>{{empleado.name}}</td>
                        <td>{{empleado.email}}</td>
                        <td>{{empleado.position}}</td>
                        <td>{{empleado.salary}}</td>
                        <td><a href="{{ path_for('employeeDetail', {'id': empleado.id}) }}">Detail</a></td>
                        </tr>
                    {% endfor %}
   
                  </tbody>
                </table>
            </div>
          </div>
      </div>
{% endblock %}
{% block javascripts %}
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("searchInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("table_employees");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
</script>
{% endblock %}